h1 {
    font-family: 'Mulish', serif;
    text-shadow: 1px 1px 1px black;
}
img {
    display: block;
}
.header-username {
    font-family: 'Mulish', serif;
    color: white !important;
    font-size: 1rem;
}
.navbar {
    background-color: #131312;
    padding: 2rem;
    padding-top: 2.5rem;
}
.navbar i {
    color: white;
    font-size: 1.5rem;
}
.navbar p {
    color: white;
}   
#accordionSidebar {
    background-color: #272726;
}
#accordionSidebar .sidebar-heading {
    margin-bottom: .5rem;
    color: white;
}
#accordionSidebar li{
    margin: 0 1rem;
    border-radius: 1.5rem;
    /* padding-left: .2rem; */
    font-size: 1.2rem;
    transition: .5s;
}
#accordionSidebar li a {
    padding: .8rem;
}
#accordionSidebar li:hover {
    color: rgb(37, 105, 231) !important;
}
#accordionSidebar li.active {
    background-color: rgb(37, 105, 231);
}
.container-fluid, .card-body {
   /* background: linear-gradient(to right, #556270, #45a29d); */
   background-color: #386aa3;

}
.container-fluid {
    min-height: 90vh;
    background-color: #131312;
}
.card-body .container-fluid {
    background-color: #2D2D2C;
}
.card {
    border: none;
    background-color: #2D2D2C;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 0 !important;
}
.card-header {
    background-color: transparent;
    border-radius: 20%;

}
.table-name {
    color: white;
    padding: 2rem 0 1rem 0;
    text-align: center;
}
#dataTable {
    color: white;
    border: none;
}
.dataTables_length {
    color: wheat !important;
}
#dataTable_info {
    color: white;
}
#dataTable_wrapper {
    padding-bottom: 1rem;
}
#dataTable_paginate {
    padding-top: 1rem;
}
#dataTable_paginate a {
    color: white !important;
}
.table td, .table th {
    border: none;
}
.paginate_button.current {
    border-radius: 10px !important;
    background: #131312 !important;
}
#dataTable tr   {
    background-color: #2D2D2C;
}

.card-body {
    background-color: #2D2D2C;
}

thead   tr th {
    background-color: #131312;
}

hr {
    border: none;
}
#dataTable_filter label {
    color: wheat;
}
#dataTable_filter input {
    border: none;
    background-color: #131312;
    color: white;
    outline: none;
}
.table-responsive .btn-add {
    background-color: rgb(37, 105, 231);

}

.function-table {
    width: 160px;
}

.table-order .order-id {
    width: 50px !important;
}
.table-order .order-address {
    width: 130px !important;
}
.table-order .function-table {
    width: 100px;
}
.btn-filter-order {
    margin-right: 1rem;
    background-color: rgb(37, 105, 231);
    color: white !important;
    border: none;
}
.btn-approve-order {
    background-color: rgb(37, 105, 231);
    border: none;
}
.btn-approve-order:hover {
    background-color: rgb(24, 74, 167);

}
.alert-success {
    margin-top: .5rem;
}
.form-group-image {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
}
.form-group-image img{
    margin-bottom: .5rem;
}

  .overview-main h1 {
    text-align: center;
    color: whitesmoke;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.2rem;
    text-shadow: 1px 1px 2px #a35e5e;
    padding: 1rem;
  }
  .overview-main .filter-choose-date > div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .overview-main .filter-choose-date button {
    margin-top: 0.5rem;
    background-color: #2c7fb6;
    padding: 0.3rem 0.5rem;
    border: none;
    color: white;
  }
  .overview-main .filter-date-wrap {
    padding: 1rem 1.5rem;
    color: wheat;
    display: flex;
    justify-content: space-between;
  }
  .overview-main .filter-date-wrap input {
    margin-left: 0.1rem;
    height: 2rem;
  }
  .overview-main .filter-date-wrap select {
    height: 2rem;
    width: 7rem;
    background-color: white;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
  }
  .overview-main .chart-body {
    /* display: flex; */
  }
  .overview-main .chart-wrap {
    /* width: 50%; */
    /* color: rgb(17, 197, 221); */
  }
  .overview-main .annotation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .overview-main .annotation-wrap .annotation {
    margin-top: -2rem;
    width: 20rem;
  }
  .overview-main .annotation-wrap .annotation > div {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .overview-main .annotation-wrap .annotation > div .cirle-collect {
    color: #81c981;
  }
  .overview-main .annotation-wrap .annotation > div .cirle-spending {
    color: #ff6384;
  }
  .overview-main .annotation-wrap .annotation h3 {
    margin-top: 1rem;
    text-align: right;
    color: white;
  }
  .overview-main .annotation-wrap .annotation .circle {
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    background-color: #81c981;
  }
  .overview-main .annotation-wrap .annotation .circle-2 {
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    background-color: #ff6384;
  }
  .overview-main .annotation-wrap .annotation .circle-wrap {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: wheat;
  }

  .input-search-wrap {
      position: relative;
      border-radius: 1.5rem;
      overflow: hidden;
      width: 250px !important;
      height: 40px !important;
  }
  .input-search-wrap input {
      background-color: #272726;
  }
  .input-group-append input:focus {
    background-color: #272726 !important;

  }
  .input-search-wrap .input-group-append {
      position: absolute;
      right: 0;
      z-index: 100;
  }
  .input-search-wrap .input-group-append  i {
      color: #080808;
  }

  .statis-cell {
      border: 2px solid black;
      background-color: #131312;
      /* border-left: .5rem solid #4 ; */
  }
  .statis-cell .card-body {
      background-color: transparent;
  }
  .statis-cell .card-body .text-gray-800 {
      color: wheat !important;
  }
