header {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}
header > div {
    flex: 1;
    height: 200px;
    /* background-color: blue; */
    padding: 2rem;
    color: black;
}
h1, h5 {
    text-align: center;

}
.header-right p {
    text-align: right;
}
.body {
    padding: 1rem 5rem
}